body{
    background-color: #F7F7F7!important;
    width:99%;
    height: 500px;
}
.header{
    border-bottom: 1px #9a9a9a94 solid;
    height: 15%;
}
.text-title,.text-title:hover{
    color:#707070;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    border-bottom: #C3CF37 7px solid;
    border-radius: 5px;
    margin:40px 40px 40px 0px;
    letter-spacing:2px
}
.text-header,.text-header:hover{
    color:#9A9A9A;
    text-decoration: none;
    font-size: 20px;
    margin:10px 10px 10px 0px;
    font-weight: 500;
}

.game{
    margin-left: 9vw;
}
.text{
    font-size: 18px;
    color:#887979dc;
    letter-spacing:2px;
    font-style: italic;
}
.text-sub{
    color:#707070dc;
    margin-top: 3vh;
    letter-spacing:1px;
    font-weight: 600;
}
.button-loto{
    border: #7F3992 solid 2px;
    padding:5px 15px 5px 15px;
    background-color: #fff;
    border-radius: 15px;
    color:#7F3992;
    font-style: italic;
    margin-right: 10px;
}
.button-mega{
    border: #01AC66 solid 2px;
    padding:5px 15px 5px 15px;
    background-color: #01AC66;
    border-radius: 15px;
    color:#fff;
    font-style: italic;
    margin-right: 10px;
}
.button-mania{
    border: #F79F38 solid 2px;
    padding:5px 15px 5px 15px;
    background-color: #fff;
    border-radius: 15px;
    color:#F79F38;
    font-style: italic;
    margin-right: 10px;
}
.button-number{
        color: #fff;
        border: none;
        background-color: #ADC0C4;
        padding: 25px 30px 25px 30px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        margin: 5px 0px 5px 8px;
        border-radius: 60%;
        font-weight: 800;
}
.button-number-selection{
    color: #fff;
    border: none;
    background-color: #819da3;
    padding: 25px 30px 25px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 5px 0px 5px 8px;
    border-radius: 60%;
    font-weight: 800;
}
.button-class{
    border: #27C383 solid 1px;
    padding:10px 15px 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    color:#27C383;
    font-style: italic;
    margin-right: 10px; 
}
.button-submit{
    border: #27C383 solid 2px;
    padding:10px 15px 10px 15px;
    background-color: #27C383;
    border-radius: 15px;
    color:#fff;
    font-style: italic;
    margin-right: 10px;
}
.title-card{
    font-size: 18px;
    color:#707070dc;
    letter-spacing:1px;
    font-style: italic;
}
.button-delete{
    border: none;
    outline: none;
    background-color: #fff;
}
.icon{
    color:#B3B3B3;
}
.card-games-loto{
    border-left: 3px #7F3992 solid;
    border-radius: 2px;
}
.card-games-mega{
    border-left: 3px #01AC66 solid;
    border-radius: 2px;
}
.card-games-mania{
    border-left: 3px #F79F38 solid;
    border-radius: 2px;
}
.text-card-loto,.text-card-mega,.text-card-mania{
    font-size: 14px;   
    letter-spacing:2px;
    font-weight: 700;
    font-style: italic;
}
.text-card-loto{
    color:#7F3992;
}
.text-card-mania{
    color:#F79F38;
}
.text-card-mega{
    color:#01AC66;
}
.save-container{
    width: 100%;
    height: 10vh;
    background-color: #F7F7F7;
    margin-top: 5px;
    border-top: 1px solid #b3b3b38c;
}
.save{
    color:#01AC66;
    border:none;
    outline: 0;
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}
@media(max-width: 600px) {
    .button-number {
      margin:5px 0px;
    }
    .game{
        margin-left: 5vw;
    }
  }